.forecastWeatherForm {
    grid-area: 1 / 1 / 6 / 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 1px white dashed;
    border-radius: 10px;
    margin: 10%;
    overflow-y: auto;
    padding: 10px 5px;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        text-decoration: none;
        list-style: none;
        color: white;
        margin: 3px;
    }

    &__item:nth-child(odd) {
        border-right: 1px white dashed;
    }
}