$item-color: rgb(31, 22, 41);

.forecastWeatherForm {
    grid-area: 1 / 1 / 6 / 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    
    margin: 10%;
    overflow-y: auto;
    

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        text-decoration: none;
        list-style: none;
        color: white;
    }

    &__item {
        margin: 3px;
        background-color: $item-color;
        border-radius: 6px;
    }
}