.forecastWeatherForm {
    grid-area: 2 / 2 / 5 / 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 1px white dashed;
    border-radius: 10px;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        text-decoration: none;
        list-style: none;
    }
}