.main {
    display: grid;

    height: 100%;
    width: 100%;
    flex-grow: 1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    background: linear-gradient(-45deg, #6b0e0e, #40233b, #410f3a, #0f0f49);
    background-size: 400% 400%;
    animation: mainBackground 20s ease infinite;
    overflow: hidden;
}