.start {
    &moon {
        padding: 10%;
        background-image: url(../../sources/Start/moonStart.png);
        background-origin: content-box;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        grid-area: 1 / 2 / 4 / 5;
        z-index: 0;
        animation: moonRotate 20s ease infinite;
    }

    &__form {
        grid-area: 4 / 2 / 4 / 5;

        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 2;

        &-text {
            color: rgb(220, 220, 220);
            padding: 10px 10px;
            font-family: monospace;
            font-size: 17px;
            position: top;
            width: 100;
        }

        &-input {
            width: 225px;
            height: 35px;
            padding: 10px 10px;
            animation: inputAnimation linear 5s;
            cursor: text;
        }

        &-button {
            font-family: monospace;
            font-size: 17px;
            width: 225px;
            height: 35px;
            padding: 10px 10px;
            text-decoration: none;
            list-style: none;
            text-align: center;

            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                color: #290f24;
            }

            a:active {
                text-decoration: none;
            }
        }
    }
}


@keyframes moonRotate {
    0% {
        transform: rotate(0);
        opacity: 0;
    }

    50% {
        transform: rotate(160deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes mainBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}