.weekly 
{
    display: flex;

    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &__main
    {
        width: 100%;
        height: 100%;
        background-color: rgb(14, 12, 12);
        grid-area:  1 / 1 / 7 / 7;
    }
}