.start {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.start__main {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: linear-gradient(-45deg, #000000, #262552, #241616, #060607);
  background-size: 400% 400%;
  animation: mainBackground 20s ease infinite;
  height: 100vh;
  overflow: hidden;
}
.start__mainQuote {
  color: green;
  padding: 10px 10px;
  font-family: "Courier New", Courier, monospace;
  position: top;
  width: 100;
  grid-area: 1/1/1/6;
}
.start__mainMoon {
  padding: 10%;
  background-image: url(../../sources/Start/moonStart.png);
  background-origin: content-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: 1/2/4/5;
  z-index: 0;
  animation: moonRotate 20s ease infinite;
}
.start__mainComete1 {
  background-image: url(../../sources/Start/cometeStart.png);
  background-origin: content-box;
  background-size: 50px 50px;
  background-position: 100% 0;
  background-repeat: no-repeat;
  grid-area: 1/1/6/6;
  animation: cometeFly 10s linear infinite;
}
.start__mainComete2 {
  background-image: url(../../sources/Start/comete2Start.png);
  background-origin: content-box;
  background-size: 30px 30px;
  background-position: 0 0;
  background-repeat: no-repeat;
  grid-area: 1/1/6/6;
  animation: cometeFly2 5s linear infinite;
}
.start__mainBackground {
  background-image: url(../../sources/Start/backgroundStart.png);
  background-origin: content-box;
  background-size: cover;
  opacity: 0.3;
  background-repeat: no-repeat;
  grid-area: 1/1/6/6;
  animation: backgroundOpacity linear infinite 5s;
}
.start__mainSpacewalk {
  background-image: url(../../sources/Start/spacewalksStart.png);
  background-origin: content-box;
  background-size: contain;
  opacity: 0.3;
  background-repeat: no-repeat;
  grid-area: 3/2/3/2;
  animation: spaceWalkerAnimation linear infinite 5s;
}
.start__mainMap {
  background-image: url(../../sources/Start/mapStart.png);
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  grid-area: 2/5/2/5;
}
.start__form {
  grid-area: 4/2/4/5;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.start__form-text {
  color: green;
  padding: 10px 10px;
  font-family: "Courier New", Courier, monospace;
  position: top;
  width: 100;
}
.start__form-input {
  width: 225px;
  height: 35px;
  padding: 10px 10px;
  animation: inputAnimation linear 5s;
  cursor: text;
}

@keyframes moonRotate {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  50% {
    transform: rotate(160deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes mainBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes inputAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cometeFly {
  from {
    background-position: 120% 0;
  }
  to {
    background-position: 0 120%;
  }
}
@keyframes cometeFly2 {
  from {
    background-position: -20% 0;
  }
  to {
    background-position: 120% 120%;
  }
}
@keyframes backgroundOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spaceWalkerAnimation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.home {
  display: flex;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.home__main {
  width: 100%;
  height: 100%;
  background-color: rgb(14, 12, 12);
  grid-area: 1/1/7/7;
}
.home__form {
  grid-area: 2/2/6/6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px white dashed;
}
.home__form-text {
  display: flex;
  grid-area: 1/1/1/3;
  justify-content: center;
  align-items: center;
  color: green;
}
.home__form-output {
  width: 100%;
  height: 100%;
  grid-area: 2/1/4/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: white;
}
.home__form-outputImage {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/1/1/1;
  overflow: hidden;
}
.home__form-outputWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/2/1/2;
  overflow: hidden;
}
.home__form-outputTemp {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2/1/2/1;
  overflow: hidden;
}
.home__form-outputWind {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2/2/2/2;
  overflow: hidden;
}
.home__form-input {
  width: 100%;
  height: 100%;
  grid-area: 4/1/4/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weekly {
  display: flex;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.weekly__main {
  width: 100%;
  height: 100%;
  background-color: rgb(14, 12, 12);
  grid-area: 1/1/7/7;
}

.menu {
  display: grid;
  grid-area: 1/1/7/7;
}
.menu__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.menu__list-up {
  grid-area: 1/1/1/7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background-image: url("../../sources/upButton.png");
  background-position: center;
  background-size: auto 70%;
  background-repeat: no-repeat;
}
.menu__list-up a {
  width: 25%;
  height: 100%;
}
.menu__list-down {
  grid-area: 6/1/6/7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-image: url("../../sources/downButton.png");
  background-position: center;
  background-size: auto 70%;
  background-repeat: no-repeat;
  animation: buttonAnimation 1s linear infinite;
}
.menu__list-down a {
  width: 25%;
  height: 100%;
}

@keyframes buttonAnimation {
  from {
    background-position: 50% 50%;
  }
  to {
    background-position: 50% 70%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}/*# sourceMappingURL=main.css.map */